body
{
    background-color: #841618;
    font-family: "Roboto", sans-serif;
}

.container
{
    border-radius: 10px;
}

#wrap
{
    margin-top: 24px;
}

.content
{
    background-color: #ffffff;
    padding: 16px;
}

.breadcrumb
{
    margin-bottom: 0;
}

.navbar
{
    margin-bottom: 0;
}

.navbar-inverse
{
    background-image: none;
    background-color: #212121;
    border-color: #212121;
    border-radius: 8px 8px 0 0;
    text-shadow: none;
}

.navbar-bottom
{
    border-radius: 0 0 8px 8px;
}

.footer
{
    background-color: #212121;
    border-radius: 0 0 8px 8px;
    color: #ffffff;
    padding: 24px;
}

.footer a
{
    color: #FFFFFF;
    font-weight: bold;
}

pre.console
{
    padding: 12px;
    width: auto !important;
}

td.active, th.active
{
    background-color: #841618 !important;
    color: #ffffff !important;
}

td.active a, th.active a
{
    color: #ffffff;
}